@font-face {
  font-family: 'Almarena Neue';
  src: url('AlmarenaNeue-Regular.woff2') format('woff2'),
       url('AlmarenaNeue-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Almarena Neue';
  src: url('AlmarenaNeue-Bold.woff2') format('woff2'),
       url('AlmarenaNeue-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Almarena Neue';
  src: url('AlmarenaNeue-Light.woff2') format('woff2'),
       url('AlmarenaNeue-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
